Options +FollowSymlinks
RewriteEngine On

# Caching rules

ExpiresByType image/png "access plus 1 day"
ExpiresByType image/gif "access plus 1 day"
ExpiresByType image/jpeg "access plus 1 day"
ExpiresByType text/css "access plus 1 day"

# Redirect www to non-www and ensure HTTPS

#RewriteCond %{HTTP_HOST} !^u-winn.com$ [NC] 
#RewriteRule ^(.*)$ https://www.u-winn.com/$1 [L,R=301]

RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]



#RewriteCond %{HTTP_HOST} ^u-winn.com [NC,OR]
#RewriteCond %{HTTP_HOST} ^www.u-winn.com [NC]
#RewriteRule ^(.*)$ https://u-winn.com/$1 [L,R=301]
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1%{REQUEST_URI} [R=301,QSA,NC,L]
